
/* universial selector */
* {
    color: green;
}


/* 태그 셀렉터 */
/* li 태그의 속성값이 universial 속성을 이긴다.*/
/* 왜? 조금 더 구체적으로 설정할 수록 우선순위가 높다. */
li {
    color: blue;
}

#special {
    color: pink;
}

.red {
    width: 100px;
    height: 100px;
    background-color: red;
}

.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    
}

button:hover {
    backface-visibilit;
}